*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS GLOBAL */
h1{font-size: 4em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
h4{font-size: 1.5em;}
h5{font-size: 1.1em;}
p{font-size: 1.1em;}

/* TAGS */

body{
    height: auto;
    background-color: blue;
}

.main{
    height: auto;
    width: 100%;

}

.main #carousel-main .carousel-item img{
    height: 70vh;
    width: 100%;
}

.main #carousel-main .carousel-item .caption-img{
    text-align: center;
    color: black;
    background-color: aquamarine;
}

.main #history-section{
    margin-top: 0,5%;
    padding: 1.5%;
    width: 100%;
    background-color: bisque;
}

.main #history-section .text-values{
    width: 100%;
    display: flex;
    flex-direction: row;

}

#section_services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_services .grids{
    height: 400px;
    width: 100%;
    background-color: teal;
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(2, auto) / repeat(2, auto);
}

#section_services div{
    height: 100px;
    width: 300px;
    background-color: black;
}

footer{
    height: 30vh;
    width: 100%;
    background-color: aqua;
}
/* ANIMAÇÃO */