*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS GLOBAL */
h1{font-size: 4em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
h4{font-size: 1.5em;}
h5{font-size: 1.1em;}
p{font-size: 1.1em;}

/* TAGS */

body{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 90);
    color: white;
}

#header{
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 0, 97);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .header_div_logo{
    width: 100%;
}

#header .header_div_logo .header-logo{
    width: 80px;
    height: 80px;
}

#header .header_div_menu .header_ul{
    width: 300px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#header .header_div_menu .header_ul a{
    color: white;
}

.main{
    height: auto;
    width: 100%;

}

.main #carousel-main .carousel-item img{
    height: 70vh;
    width: 80%;

}

.main #carousel-main .carousel-item .caption-img{
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 88);
}

.main #history-section{
    margin-top: 1%;
    padding: 1.5%;
    width: 100%;
    background-color: rgb(0, 0, 80);
}

.main #history-section .text-values{
    width: 100%;
    display: flex;
    flex-direction: row;

}

#section_services{
    width: 100%;
    height: auto;
}

#section_services .grids{
    padding: 2%;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 70);
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(2, auto) / repeat(2, auto);
}

#section_services div{
    height: 50vh;
    width: 100%;
    background-color: black;

    text-align: center;
    color: white;
}

#section_services .grids img{
    width: 70%;
    height: 40vh;
}

#section_services .grids .caption{
    width: auto;
    height: 20px;
}


#section_services {
    height: 100vh;
    width: 80%;
    background-color: black;

    text-align: center;
    color: white;
}

#section_link{
    padding: 8%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section_link a{
    width: 300px;
    height: auto;
    background-color: rgba(84, 255, 95, 0.885);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    transition: 0.3s ease-in-out
}

#section_contact{
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 0, 60);
 
}

#section_contact .h4{
    text-align: center;
}

footer{
    height: 3vh;
    width: 100%;
    background-color: rgb(0, 0, 50);

    text-align: center;
}



/* ANIMAÇÃO */



@media (max-width: 750px) {
    body{
        width: 750px;
    }

    .main #carousel-main .carousel-item img{
        height: 60vh;
        width: 750px;
    
    }

    #section_contact{
        width: 70%;
        flex-direction: column;

     
    }

    #section_services .grids{
        padding: 0;
        width: 750px;
    }

    #section_link{
        padding-top: 2%;
        padding-bottom: 2%;
        width: 750px;
        height: 10vh;

    }
    
    #section_contact h5{
        font-size: 1em;
     
    }

    footer{
        height: 3vh;
        width: 750px;
 
    }
}